@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;800;900&display=swap');


.contenedor{
    width: 100%;
    position: relative;
    right: 0;
    align-items: center;
    height: 100vh;
    background-color: rgb(232, 242, 253);
}

.nombre_delete{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
}
.modalfooter{
    display: flex;
    justify-content: center;
}
.modalheader{
    background-color: #950015;
    justify-content: end;
    font-size: 20px;
}
.modalheader h2{
    font-size: 14px;
}
.alin_bot{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.alin_bot  Button{
    margin-left: 50px;
    margin-right: 50px;
}

.modalbody{
    text-align: center;
}
.cont_centr{
    position: absolute;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    top: 20px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.input_name{
    text-decoration: none;
    border: none;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 95%;
    background-color: transparent;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.input_name:focus {
    border: none;
  }

.info_secundaria input{
    margin-left: 1vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.5vw; 
}

.couter input{
    margin-left: 0;
}
.info_secundaria h2{
    font-weight: 700;
    font-size: 20px;
}
.info_secundaria{ 
    display: flex;
    margin-left: 1vw;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5vh;
}
.info_secundaria  select{
    margin-left: 1vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.5vw;
    text-align: center;
}
.info_secundaria select  option{
    font-weight: 300;
}

.alert{
    position: absolute;
    z-index: 99990;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.mycheck {
    cursor: pointer;
    background-color: #cc3d3d;
    width: 45px;
    height: 18px;
    transition: 0.5s ease all;
    appearance: none;
    border-radius: 4px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.212);
}

.mycheck:checked {
    background-color: rgb(42, 189, 79);
  }

.cuota{
    font-size: 15px;
    text-align: center;
}


.imprimir{
    position: absolute;
    bottom:1.4vw;
    right: 0;
    font-size: 1vw;
    width: 15vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imprimir2{
    position: absolute;
    bottom:1.4vw;
    left: 0;
    font-size: 1vw;
    width: 15vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_second{
    position: absolute;
    left: 30vw;
    margin-left: 1vw;
    align-items: center;
}
.info_second  select{
    margin-left: 1vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.4vw;
    text-align: center;
}

.info_second select option{
    font-weight: 300;
}
    
.info_second  input{
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.4vw;
    
}
    
.info_second div h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 22px;

}
.info_second div{
    display: flex;
    align-items: baseline;
    padding-bottom: 5vh;
}

.info_secundaria div{
    display: flex;
    align-items: baseline;
}

.comision_t{
    font-size: 2.1vw;
    font-weight: 200;
    margin-left: 4vw;
    margin-bottom: 5vh;
}


.info_secundaria div h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 22px;

}

.contenedor_info_carnet{
    width: 100vw;
    position: absolute;
    right: 0;
    align-items: center;
    height:100vh;
    left: 0;
    margin: auto;
}


.contenedor_info_carnet h4{
    position: absolute;
    font-size: 4vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    top: 35vh;
    color: #000000;
    left: 32.3vw;
}



.contenedor_info_carnet h5{
    position: absolute;
    font-size: 4vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    top: 55vh;
    color: #000000;
    left: 32.3vw;
}


.contendor_carnet{
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;}

.arrow{
    position: absolute;
    font-size: 4vw;
    top: 30px;
    left: 40px;
    color: #0e2125;
}

.arrow :hover{
    cursor: pointer;
}

.qr_carnet{
    width: 23.8vw;
    height: 23.8vh;
    position: absolute;
    right: 2.7vw;
    background-color: transparent;
    top: 45.9vh;
}

.carnet_imp{
    background-color: rgb(128, 57, 57);
    color: rgb(255, 255, 255);
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.212);
    font-size: 1.7vw;
    text-align: center;
    height: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.carnet_impre img{
    position: absolute;
    width: 3vw;
    left: 13vw;
    top: -0.5vh;
}

.carnet_impre{
    position: relative;
}



.cont{
    width: 99.5%;
    position: absolute;
    bottom: 0;
    z-index: -10000;
    margin-left: 1px;
    margin-bottom: 3px;
    height: 250px;
    display: flex;
    border: 2px solid black;
    background-color: white;
}

.parte_tiro{
    width: 30%;
    height: 100%;
    border-right: 1px dotted black;
    text-align: center;
    padding-top: 12px;

}

.parte_tiro h2{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.parte_tiro h4{
    font-weight: 200;
    margin-bottom: 2px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline dashed;
}

.parte_jugador{
    width: 70%;
    position: relative;
}
.titu{
    font-family: 'Oswald', sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}
.titu h2{
    letter-spacing: 3px;
    font-size: 25px;
}
.titu h4{
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-weight: 200;


}

.parte_jugador h3{
    font-size: 18px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: 20px;
}
.parte_jugador h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    

}
.reciv{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    font-size: 1.2vw;
    font-family: 'Oswald', sans-serif;
}

.reciv h3{
    font-weight: 300;
    margin-right: 10px;
    margin-left: 10px;

}

.reciv h4{
    font-weight: 200;
    text-decoration: underline dashed;
}

.parte_jugador img{
    width: 120px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.parte_jugador h5{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.modalheader2{
    background-color: rgb(232, 242, 253);
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.modalheader2 h2{
    font-size: 30px;
    
}

.cuotass{
    display: flex;
    align-items: baseline;
}


.cuotass input{
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.cuotass input:hover{
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.cuotass input:active{
    transform: scale(0.95);
}

.cuotass input:focus{
    border: 2px solid grey;
}
.cuotass div{
    margin-left: 1vw;
}

.cuotass h2{
    font-size: 2vw;
}

.cuoter{
    text-align: start;
    
}

.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container2 {
    display: block;
    position: absolute;
    right: 90px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    transition: all 0.3s;
    border-radius: 5px;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container2 input:checked ~ .checkmark {
    background-color: #47da99;
    animation: pop 0.5s;
    animation-direction: alternate;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container2 input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container2 .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }
   
   @keyframes pop {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.9);
    }
   
    100% {
     transform: scale(1);
    }
   }

.tablo{
    text-align: center;
   
}



.input_secondari{
    background-color: aliceblue;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}

.input_secondari:focus{
    outline:none !important;
    border: 1px solid rgb(147, 186, 192);
}


.succes{
    width: 10vw;
    height: auto;
    font-size: 1vw;
    background: green;
    border: none;
    font-weight: 600;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.212);
    
}

.clear{
    width: 5vw;
    height: auto;
    font-size: 1vw;
    background: red;
    border: none;
    font-weight: 600;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.212);

}

.switch {
    font-size: 17px;
    position: relative;
    margin-left: 10px;
    transform: translateY(-4px);
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #f34029;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #15fa15;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #0974f1;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6em);
  }

  .imge{
    transform: translateY(-4px);
    height: 38px;
  }


  
  .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
    margin-left: 145px;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #ffffff;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }


  .boton_otros {
    position: absolute;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    top: 0;
    right: -200px;
    width: auto;
   }
   
   .boton_otros:hover,
   .boton_otros:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
   }
   
   .boton_otros:hover {
    transform: translateY(-1px);
   }
   
   .boton_otros:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
   }


   .button,
   .input,
   .select,
   .textarea {
     font: inherit;
   }
   
   a {
     color: inherit;
   }
   
   .modal-container {
     max-height: 400px;
     max-width: 500px;
     margin-left: auto;
     margin-right: auto;
     position: absolute;
     top: 20%;
     left: 35%;
     background-color: #fff;
     border-radius: 16px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
   }
   
   @media (max-width: 600px) {
     .modal-container {
       width: 90%;
     }
   }
   
   .modal-container-header {
     padding: 16px 32px;
     border-bottom: 1px solid #ddd;
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   
   .modal-container-title {
     display: flex;
     align-items: center;
     gap: 8px;
     line-height: 1;
     font-weight: 700;
     font-size: 1.125;
   }
   
   .modal-container-title svg {
     width: 32px;
     height: 32px;
     color: #750550;
   }
   
   .modal-container-body {
     padding: 24px 32px 51px;
     overflow-y: auto;
   }
   
   .rtf h1,
   .rtf h2,
   .rtf h3,
   .rtf h4,
   .rtf h5,
   .rtf h6 {
     font-weight: 700;
   }
   
   .rtf h1 {
     font-size: 1.5rem;
     line-height: 1.125;
   }
   
   .rtf h2 {
     font-size: 1.25rem;
     line-height: 1.25;
   }
   
   .rtf h3 {
     font-size: 1rem;
     line-height: 1.5;
   }
   
   .rtf > * + * {
     margin-top: 1em;
   }
   
   .rtf > * + :is(h1, h2, h3) {
     margin-top: 2em;
   }
   
   .rtf > :is(h1, h2, h3) + * {
     margin-top: 0.75em;
   }
   
   .rtf ul,
   .rtf ol {
     margin-left: 20px;
     list-style-position: inside;
   }
   
   .rtf ol {
     list-style: numeric;
   }
   
   .rtf ul {
     list-style: disc;
   }
   
   .modal-container-footer {
     padding: 20px 32px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     border-top: 1px solid #ddd;
     gap: 12px;
     position: relative;
   }
   
   .modal-container-footer:after {
     content: "";
     display: block;
     position: absolute;
     top: -51px;
     left: 24px;
     right: 24px;
     height: 50px;
     flex-shrink: 0;
     background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75), transparent);
     pointer-events: none;
   }
   
   .button {
     padding: 12px 20px;
     border-radius: 8px;
     background-color: transparent;
     border: 0;
     font-weight: 600;
     cursor: pointer;
     transition: 0.15s ease;
   }
   
   .button.is-ghost:hover, .button.is-ghost:focus {
     background-color: #dfdad7;
   }
   
   .button.is-primary {
     background-color: #750550;
     color: #fff;
   }
   
   .button.is-primary:hover, .button.is-primary:focus {
     background-color: #4a0433;
   }
   
   .icon-button {
     padding: 0;
     border: 0;
     background-color: transparent;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     line-height: 1;
     cursor: pointer;
     border-radius: 8px;
     transition: 0.15s ease;
   }
   
   .icon-button svg {
     width: 24px;
     height: 24px;
   }
   
   .icon-button:hover, .icon-button:focus {
     background-color: #dfdad7;
   }

   .card {
    overflow: hidden;
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    top: 100px;
    left: 34%;
    z-index: 5;
    border-radius: 0.5rem;
    width: 390px;
    height: auto;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  .card::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76); /* Ajusta la opacidad según tus necesidades */
    z-index: -3;
    display: block;
  }

  .header {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEE2E2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
  }
  
  .image svg {
    color: #DC2626;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #111827;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .message textarea{
    width: 90%;
    height: 120px;
  }
  
  .actions {
    margin: 0.75rem 1rem;
    background-color: #F9FAFB;
  }
  
  .desactivate {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #2999a8;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .cancel {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
