@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');

.contenedor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(232, 242, 253);
}


.formulario{
    justify-content: space-between;
    font-family: 'Prompt', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 90%;
    height: 70%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.img_form{
    width: 50%;
    background-image: url("https://cdn.pixabay.com/photo/2015/01/26/22/40/child-613199_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;

}

.titulo{
    font-size: 5vw;
    margin-top: 4vh;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo_2{
    margin-top: -1vh;
    font-size: 7vw;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cont{
    margin-left: 5%;
}

.subtitulo{
    font-size: 1.6vw;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    color: rgb(31, 31, 31);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login{
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(214, 232, 252);;
    font-size: 6vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.input{
    width:30vw;
    height: 4vh;
    margin-bottom: 0vh;
    margin-top: 0vh;
    background-color: #eeffffa4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
    border: none;
    font-weight: 200;
    border-radius: 5vw;
    font-family: 'Prompt', sans-serif;
}
.input::placeholder{
    color: #adadad;
    font-size: 1.3vw;
    font-weight: 100;
  }

.info{
    font-size: 1.5vw;
    margin-top: 5.5vh;
    font-weight: 200;
    align-items: center;
    color: rgb(150, 150, 150);
}

.info2{
    font-size: 1.9vw;
    margin-right: 10px;
}

.cont_buttom {
    margin-top: 4vh;
    text-align: center;
  }
  
.cont_buttom button {
    border: none;
    padding: 1vw;
    font-size: 1.9vw;
    background-color: rgb(92, 129, 168);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transition: 0.7s ease all;
  }
  
.cont_buttom button:hover {
    transform: scale(1.15);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
.cont_buttom h2 {
    font-size: 1.1vw;
    letter-spacing: 0.2vw;
    margin-top: 1.5vh;
  }

.form{
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 50px;

}

.errors{
    font-size: 1.1vw;
    padding-top: 2px;
    text-align: center;
    color: red;
    font-family: 'Prompt', sans-serif;
}

.error{
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: -3vh;
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    background-color: red;
    border-radius: 10px;
    color: white;
}

@media(min-width: 1100px) {
    .formulario{
        width: 70%;
        height: 80%;
    }
    .img_form{
        width: 50%;
    }
    
    .titulo{
        font-size: 3vw;
    }
    
    .titulo_2{
        font-size: 5vw;
    }
    
    .subtitulo{
        font-size: 1.2vw;
        font-weight: 400;
       
    }
    
    .login{
        font-size: 4vw;
    
    }
    
    .input{
        height: 5vh;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    .input::placeholder{
        font-size: 1.1vw;
      }
    
    .info{
        font-size: 0.9vw;
        margin-top: 6vh;
    }
    .info2{
        font-size: 1.3vw;
        margin-right: 1vw;
    }
    
    .cont_buttom {
        margin-top: 2vh;
        text-align: center;
      }
      
    .cont_buttom button {
        border: none;
        padding: 0.6vw;
        font-size: 1.1vw;
        background-color: rgb(41, 67, 95);
      }
    .cont_buttom h2 {
        font-size: 0.8vw;
        letter-spacing: 0.1vw;
        margin-top: 1vh;
      }
    
    .form{
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-top: 5vh;
    
    }
    
    .errors{
        font-size: 1.1vw;
        text-align: center;
        color: red;
        font-family: 'Prompt', sans-serif;
    }
    
    .error{
        width: 100%;
        text-align: center;
        font-size: 1.2vw;
        margin-bottom: -3vh;
        font-weight: 400;
        font-family: 'Prompt', sans-serif;
        background-color: rgba(255, 0, 0, 0.699);
        border-radius: 10px;
        color: white;
    }
    

    
}

@media (max-width:720px){
    .login{
        font-size: 6.9vw;
    }
    .info{
        font-size: 3vw;
        margin-top: 6vh;
    }
    .info2{
        font-size: 2.5vw;
        margin-right: 1vw;
    }
    .input::placeholder{
        font-size: 2vw;
        padding-left: 1vw;
      }
    .errors{
        padding-top: 2vh;
        font-size: 2.2vw;
        text-align: center;
        color: red;
        font-family: 'Prompt', sans-serif;
    }
    .input{
        width: 40vw;
    }
    .cont_buttom {
        margin-top: 2vh;
        text-align: center;
      }
      
    .cont_buttom button {
        border: none;
        padding: 2vw;
        width: 20vw;
        font-size: 2vw;
        background-color: rgb(41, 67, 95);
      }
    .cont_buttom h2 {
        font-size: 1.8vw;
        letter-spacing: 0.1vw;
        margin-top: 1vh;
      }

    
    
}