
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

.contenedor{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    z-index: 10000000;
}



.titulo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5vw;
    display: flex;
    width: 1vw;
    align-items: center;
    font-weight: 600;
    text-align: center;
}

.contenedor div{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.cont_links{
    list-style: none;
    align-items: center;
    height: 100%;
    margin-left: 0vw;
    display: flex;
    text-align: center;
}
.cont_links li h2{
    text-align: center;
    font-size: 1.3vw;
    padding-top: 1vh;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-weight: 200;
    
}

.cont_links li{
    width: auto;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 154vh;
    padding-bottom: 154vh;
    transition: 1s ease all;    
}

.cont_links li:hover{
    background-color: #000000;  
}

.cont_links li:hover  h2{
    color: white;
}


.usuario{
    display: block;
    position: relative;
    align-items: center;
}

.fa:hover{
    color: green;
    cursor: pointer;
    transform: scale(1.1);
}


.boton{
    position: absolute;
    right:2vw;
    border: none;
    top: 35%;
    height: 2vw;
    width: 5vw;
    background-color: red;
    border-radius: 1vh;
    color: white;
    font-size: 1.1vw;
    transition: 200ms ease all;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.boton:hover{
    transform: scale(1.1);
}


@media(min-width: 1100px) {
    .contenedor{
        height: 12vh;
    }

  
}