
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

.contenedor{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.562); /* Puedes ajustar la sombra según tus preferencias */
    background-color: rgb(255, 255, 255);
    z-index: 99999999999999;
}



.titulo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    display: flex;
    width: 10px;
    align-items: center;
    font-weight: 600;
    text-align: center;
}


.scan{
    font-size: 30px;
    height: 70px;
    position: absolute;
    left: 47.7%;
    color: whitesmoke;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: #1f1f1f;
    border-radius: 30vw;
    z-index: 99999999999;
}
.scan:hover{
    cursor: pointer;
    
}

.scan img{
    width: 65%;
}


.contenedor div{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.cont_links{
    list-style: none;
    align-items: center;
    height: 100%;
    margin-left: -17px;
    display: flex;
    text-align: center;
}
.cont_links li h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    height: 80px;
    width: 150px;
    padding-top: 0px;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-weight: 200;
    
}

.cont_links li:hover{
    background-color: #1f1f1f;
}

.cont_links li h2:hover{
    
    color: whitesmoke;
}

.cont_links li{
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.4s ease all;    
}


.usuario{
    display: block;
    position: relative;
    align-items: center;
}

.fa:hover{
    color: green;
    cursor: pointer;
    transform: scale(1.1);
}


.boton{
    position: absolute;
    right:20px;
    border: none;
    top: 35%;
    height: 25px;
    width: 90px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    transition: 200ms ease all;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.ajustes{
    position: absolute;
    right: -30px;
    top: 16px;
    height: 43px;
    width: auto;
    transition: 200ms ease all;}

.ajustes:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.boton:hover{
    transform: scale(1.1);
}


@media(min-width: 1100px) {
    .contenedor{
        height: 12vh;
    }

  
}