@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.contenedor {
  width: 100%;
  position: relative;
  right: 0;
  overflow: hidden;
  background-color: rgb(232, 242, 253);
  align-items: center;
  height: 100%;
}

.contenedor h2 {
  font-size: 3vw;
  font-family: "Dela Gothic One", cursive;
  text-align: center;
  padding-top: 5vh;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-around;
}

.sections div {
  background-color: aliceblue;
  display: flex;
  margin-right: 5vw;
  border-radius: 1.2vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.sections div div {
  display: block;
  margin-left: 2vw;
  margin-top: -4vh;
  margin-right: 2vw;
  width: 20vw;
  height: 5%;
  box-shadow: none;
  background-color: transparent;
}

.sections div div h2 {
  padding-top: 8.2vh;
  font-size: 1.5vw;
  color: rgb(73, 73, 73);
}

.fa {
  height: 100%;
  width: 60%;
  color: rgb(167, 163, 163);
  margin-right: 20px;
  margin-left: 10px;
}

.linea {
  width: 0.1vw;
  height: 90%;
  margin: auto;
  background-color: rgb(167, 163, 163);
}
