@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

.contenedor {
  width: 100%;
  top: 0;
  left: 0;
  height: 88vh;
  background-color: rgb(232, 242, 253);
  right: 0;
  z-index: 100;
  margin: auto;
  position: relative;
}

.filtrado {
  z-index: 1000;
  margin: 0 auto;
  border-radius: 1vw;
  display: flex;
  justify-content: space-evenly;
  padding-top: 4vh;
}

.filtrado input {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  width: 250px;
  height: 40px;
  font-family: "Gabarito", cursive;
}

.filtrado select {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  width: 250px;
  height: 40px;
  transition: 0.25s ease all;
  font-family: "Gabarito", cursive;
}

.filtrado select select {
  border: 1px solid #8d0303;
  background-color: #f2f2f2;
  padding: 1vw;
}

.jugador {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
}

.cont {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.nombre {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
}

.not {
  width: 100%;
  font-size: 30px;
}

.titulos {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tabla {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
}

.boton {
  font-size: 12px;
}

.contenedor_tabla {
  position: relative;
  width: 80%;
  height: 70%;
  top: 0;
  left: 0;
  background-color: transparent;
  right: 0;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
}

.contenedor_tabla::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.contenedor_tabla::-webkit-scrollbar-thumb {
  background-color: rgba(187, 186, 186, 0.733); /* Color del "thumb" del scrollbar (barra deslizante) */
  border-radius: 4px; /* Bordes redondeados del "thumb" */
}

.contenedor_tabla::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); /* Color del track (fondo del scrollbar) */
  border-radius: 4px; /* Bordes redondeados del track */
}

.titulos2 {
  font-size: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: uppercase;
}

.imge {
  width: 25px;
}

.circulo_verde {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: green;
  color: green;
}

.circulo_rojo {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  color: rgb(255, 4, 4);
  background-color: rgb(255, 4, 4);
}

