@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600;10..48,700;10..48,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');


.contenedor{
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(232, 242, 253);
    right: 0;
    z-index: 100;
    margin: auto;
    position: relative;
}

.filtrado{
    z-index: 1000;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    & input {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        width: 300px;
        font-family: 'Gabarito', cursive;
        &:focus{
            outline:none !important;
            border: 1px solid rgb(147, 186, 192);
            
        }

    }
    & select{
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        width: 300px;
        transition: 0.25s ease all;
        font-family: 'Gabarito', cursive;
        & select{
            border: 1px solid #333; 
            background-color: #f2f2f2; 
            padding: 20px; 
            
        }
        &:focus{
            outline:none !important;
            border: 1px solid rgb(147, 186, 192);
        }
        
    }
    
}



.jugador{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
}
.cont{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.nombre{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-weight: 800;
}

.not{
    width: 100%;
    font-size: 30px;
}
.titulos{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.tabla{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 10px;
    overflow: hidden;
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.boton{
    font-size: 12px;
}

.contenedor_tabla{
    position: absolute;
    width: 80%;
    border-radius: 10px;
    top: 100px;
    left: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    right: 0;
    margin: auto;
    font-size: 10px;
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.contenedor_tabla::-webkit-scrollbar {
    display: none;
}


.titulos2{
    font-size: 17px; 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    text-transform: uppercase; 

}


.search{
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    & input{
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border: none;
        text-align: center;
        border-radius: 10px;
        height: 40px;
        width: 300px;
        font-family: 'Plus Jakarta Sans', sans-serif; 
    }
}

.imge{
    width: 30px;
}

.circulo_verde{
    width: 15px;
    border-radius: 100px;
    background-color: green;
    color: green;
}


.circulo_rojo{
    width: 15px;
    border-radius: 100px;
    color: rgb(255, 4, 4);
    background-color: rgb(255, 4, 4);
}

